*{
	margin: 0;
	padding: 0;

}
.main{
	width: 100vw;
	height: 100vh;
	background-image: url(/ys/img/news.jpg) ;
	background-size: cover;
}
.news{
	 width: 100vw;
	 height: 100vh;
	 background-size: cover;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
}
.news .xinwen{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: relative;
	
}
.news .xinwen h1{
	 color: #fff;
	 font-size: 60px;
	 position: relative;
	 left: 50px;
 }
.xwlb{
	width: 700px;
	height: 438px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 190px;
	left: 750px;
}
.lb_1 ul{
margin-top: 35px;
}
.lb_1 ul li{
	cursor: pointer;
	display: inline;
	color: #fff;
	font-size: 25px;
	margin-left: 35px;
}
.lb_2 ul li{
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px #fff;
	padding-top: 15px;
	padding-right: 2px;
	padding-bottom: 5px;
	opacity: 0.9;
	text-align: left;
	width: 90%;
	height: 15%;
	font-size: 20px;
	margin-top: 5px;
	overflow: hidden;
	transition: all 0.5s;
}
.lb_2 ul li:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.lb_2 ul li span{
	float: right;
	color: #999;
	font-size: smaller;
}
.zixun{
	width: 120px;
	position: relative;
	left: 500px;
	color: #fff;
	font-size: larger;
	top: 30px;
	cursor: pointer;
}
.left_tp{
	width: 700px;
	height: 380px;
	margin-top: -530px;
	margin-left: 50px;
	margin-bottom: 150px;
}
.swiper{
	width: 700px;
	height: 440px;
	margin-top: -440px;
	margin-left: 50px;
	margin-bottom: 150px;
}
.swiper img{
	width: 750px;
	height: 440px;
}
.role_bottom{
	width: 100vw;
	height: 30vh;
	background: black;
	color: gray;
	text-align: center;
	position: absolute;
	top: 100vh;
}
.role_bottom img{
	height: 100px;
}
